# ─── Firebase ───────────────────────────────────────────────
FIREBASE_API_KEY=AIzaSyDZuEeW24yyBKJ-dpJyiBMJ6HH5od15L40
FIREBASE_DATABASE_URL=https://server-nufa-default-rtdb.asia-southeast1.firebasedatabase.app

# ─── Upload Access Code (base64) ────────────────────────────
ACCESS_CODE_B64=c21rczIwMjY=

# ─── OneSignal ──────────────────────────────────────────────
ONESIGNAL_APP_ID=24018ed8-5d9e-4e5e-b651-f8e94bf58a53
ONESIGNAL_REST_API_KEY=os_v2_app_eqay5wc5tzhf5nsr7duux5mkkotkiyc73g5euyffb3na2o2zfehs7kxyyeg5lumsvdd232qzjl26faiftkjahozlad5j6r4m7vxdndy

# ─── Notify Shared Secret ───────────────────────────────────
NOTIFY_SECRET=nufa-notif-2025

# ─── Vercel ─────────────────────────────────────────────────
VERCEL_NOTIFY_URL=https://smknufagwt.vercel.app/api/notify
